@import './reset.css';


main {
    // padding: 30px;
    background-color: lightcoral;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .big {
        background-color: brown;
        height: 600px;
    }
}